body {
    font-size: medium;
}

.row {
    padding: 5px 0px 5px 5px;
    border-bottom: lightgrey 1px solid;
    background-color: antiquewhite;
    width: 500px;
}

.row label {
    display: inline-flex;
    width: 150px;
}

.row input {
    width: 300px;
}

#saveInfo {
    margin-top: 10px;
    font-size: larger;
}