[Unit]
Description=Start the onedrive syncing service
After=network.target

[Service]
ExecStart=/usr/bin/screen -S onedrive -d -m /home/shibin/.dotfiles/onedrive-bash
User=shibin
Group=shibin
Type=forking

[Install]
WantedBy=multi-user.target
