<div id="promptingBirthYear">
    <h1 data-i18n="askBirthYearTitle" class="prompt-description"></h1>
    <div class="input-block">
        <h1 data-i18n="askBirthYear" class="prompt-title"></h1>
        <input type="number" id="birthYear" class="prompt-input" maxlength="4" placeholder="YYYY">
        <p class="hidden warning-message" id="promptWarningMessage"></p>
        <button id="btnSubmitBirthYear" class="btn-submit" data-i18n="submit"></button>
    </div>
    <img id="closePrompting" class="btn-close" src="/common/img/close.svg" />
</div>
